.daily-forecast-section
    display: flex
    border: 2px red solid
    border-radius: 5px

.daily-forecast-container
    border: 2px red solid
    border-radius: 12px
    margin-right: 0.5rem
    padding: 1rem
    text-align: center
    display: flex
    flex-direction: column
    min-width: 80px

.weather-icon
    width: 60px

.temps
    display: flex
    justify-content: space-between
