@use "../../variables" as *

.daily-forecast-section
    display: flex
    border-radius: 5px
    gap: 0.5rem

.daily-forecast-container
    border-radius: 12px
    padding: 1rem
    text-align: center
    display: flex
    flex-direction: column
    min-width: 80px
    background-color: $neutral-800

.weather-icon
    width: 60px

.temps
    display: flex
    justify-content: space-between
    gap: 2rem
